<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="PromoterDBContext" connectionString="server=120.25.69.11,32960;uid=sa;pwd=0-p0-p0-p;database=AgentMS" providerName="System.Data.SqlClient" />
  <add name="lanzhoumajiang" connectionString="server=120.25.145.176,32965;uid=WebNew;pwd=Gdgame.123!@#;database=SY_Stat" providerName="System.Data.SqlClient" />
</connectionStrings>
